* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
  background-image: url("../images/tic-tac-toe.png"); 
}
img {
  border:5px solid blue;
  padding: 5%;
  width: 50%;
}
.photos {
  display: block;
	margin: auto;
}
.photo-cell img {
	width: 100%;
  	display: block;
    margin:  0 auto;
  }
.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.exam-pic {
  grid-column-start: 1;
  grid-column-end: 2;
}
.logo {
  grid-column-start: 2;
  grid-column-end: 3;
}
